#backgroundImage {
    width: 100%;
}

#container {
    width:100%;
    display: flex;
    flex-direction: row;
}

#cont {
    width: 80%;
}

.sideWith {
    width: 20%;
}

#slideing {
    width: 20%;
}

#statistics {
    display: flex;
    justify-content: center;
}

#oof {
    margin: 0;
}

#myChart {
    width: 100%;
    height: 200px;
}

#colorHeader {
    position:absolute;
    width:100%;
    height:25%;
    background-color:#ee6e73;
}

#navRow {
    margin-top:2%;
}

.container {
    width:80%;
    margin-left:0;
    margin-right:0;
}

i.icon-white {
    font-size:30px;
    color:white;
}

nav {
    height: 50px;
    line-height: 50px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px;
    line-height: 35px;
}

nav .button-collapse i {
    height: 50px;
    line-height: 50px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}

#icons {
    text-align:right;
}

#topRow {
    height:250px;
}


.topCard {
    height:250px;
}

#midRow {
    height:250px;
}

.midCard {
    height:250px;
}

.row {
    margin-top:5%;
    margin-bottom:7%;
}

.clickable {
    cursor: pointer;
}

#colorHeadREAL {
    width:100%;
    height:180px;
    background-color:#ee6e73;
}

#closeBtn {
    margin:3%;
}

.modal {
    max-height: 50%;
}