* {
  font-family: Arial, Helvetica, sans-serif;
}

#calendar-container {
  overflow-x: scroll;
  background-color: #ee6e73;
  color: white;
  width: 90vw;
  min-height: 300px;
  max-width: 800px;
  display: block;
  margin: 5vh auto;
  border-radius: 10px;
  padding: 5px 10px;
}

#calendar-title {
  width: 90%;
  margin: 5vh auto;
  text-align: center;
}

#calendar-table {
  width: auto;
  margin:auto;
}

#calendar-table td, #calendar-table th {
  padding: 15px 20px;
  border: none;
  text-align: center;
  border-radius: 10px;
}

.today-cell {
  background-color: #888;
}

#date-text {
  text-align: center;
}

.btn {
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 10px solid #333;
  margin: 1px 10px;
  
}

.btn.left {
  border-right: 10px solid white;
}

.btn.right {
  border-left: 10px solid white;
}

.btn.left:hover {
  border-right: 10px solid #ccc;
  cursor: pointer;
}

.btn.right:hover {
  border-left: 10px solid #ccc;
  cursor: pointer;  
}

#calendar-table td:hover {
  background-color: #ddd;
  cursor: pointer;
  color:black;
}

footer {
  margin: 10px auto;
  width: 90vw;
  max-width: 800px;
  text-align:right;
  font-size: 15px;
  font-style: italic;
}

