body,
html,
#main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

/** Nav Bar **/
#navBar {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
}
#addForm {
    position:absolute;
    right:5%;
    bottom:5%;
}

#navBar>ul {
    display: flex;
    width: 50%;
    height: 100%;
    margin: 0;
    font-size: 1.3rem;
    padding: 0;
    list-style: none;
}

#navBar>ul>li {
    margin: auto;
    text-align: right;
}



.navElem:nth-child(5) {
    background: lime;
    padding: 0.43rem 0.25rem;
    color: whitesmoke;
}

.navElem {
    text-align: right;
    width: 20%;
}



/** Middle Portion **/
#mid {
    margin: 0% 3%;
    border: 2px solid black;
    text-align: left;
}


/** Bottom Portion **/

#infoContainer {
    margin-top:3%;
    margin-left:2%;
    margin-right:2%;
}

#topRow {
    font-weight: 600;
    color: #808080;
    border-top: 1px solid black;
}

.bottom {
    padding-left: 2%;
    width: 100%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: right;
}

.bottom:hover {
    background-color: rgba(211, 211, 211, 0.3);
}

.col {
    text-align: left;
    width: 20%;
}

#bottom>h2 {
    padding: 0 1rem;
}

#bottom>h2:not(:last-child) {
    padding: 0 1rem;
    border-right: 1rem
}