
body, html, #main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

#main {
    display: flex; 
    flex-direction: row;
}

#left {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #3333cc;
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

#top-left {
    background-color: #0066ff;
    margin: 0%;
    width: 100%;
}

#middle {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

#top-middle {
    background-color: whitesmoke;
    padding: 1rem;
}

#name {
    display: flex;
    flex-direction: row;

}

#right {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

#top-right {
    background-color: whitesmoke;
    padding: 1rem;
    text-align: center;
}

#editing {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;;
}

.textBox {
    margin-bottom: 2rem;

}