/** To whom this CSS may concern, it has come to my attention that CSS is the big gay. Throughout my many adventures I have encountered many issues with images. I'm hoping to prevail from this tough situation, but my luck seems to be running out. **/
body, html 
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

#main 
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h3, h2, h1, p
{
    font-family: 'Times New Roman', Times, serif

} 


/** Nav Bar **/
#navBar 
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
}

#navLoginElem
{
    
}

.navElem 
{
    text-align: center;
    width: 20%;

}



/** Image Gallery **/
#mid
{
    display: flex; 
    justify-content: center;
    width: 100%;
}


#title
{ 
    justify-content: center;
    position: absolute;
    color: whitesmoke;
    font-size: 5em;
}

#bckgrdImage
{
    width: 80%;
    height: 100%;
}


/** Arrows **/
#arrows
{
    position: absolute;
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#arrowLeft
{
    background: transparent;
    border: none;
    font-size: 2em;
}

#arrowRight
{
    background: transparent;
    border: none;
    font-size: 2em;
}


/** Donate and Volunteer buttons **/
#bottom 
{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
}

#donate
{
    height: 100%;
    width: 20%;
    color: whitesmoke;
    background-color: lime;
    border-radius: 25px
}

#volunteer
{
    height: 100%;
    width: 20%;
    color: whitesmoke;
    background-color: lime;
    border-radius: 25px
}