/* To whom this CSS may concern, 
it has come to my attention that CSS is the big gay. 
Throughout my many adventures I have encountered many issues with images. 
I'm hoping to prevail from this tough situation, but my luck seems to be running out. 

If you are still reading from this point, the chapters will be layed in decending order 

**** Chapters **** 
 
    1: Soma & Cran Essentials 

    2: Navigation Map

    3: The Centre & its title

    4: Underpassing/Denoncement

    Note: The future will chan
*/
body, html, #main
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

/* #main 
{
    display: flex;
    flex-direction: column;
} */


/** Nav Bar **/
#navBar 
{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
}

#navBar > ul 
{
    display: flex;
    width: 50%;
    height: 100%;
    margin: 0;
    font-size: 1.3rem;
    padding: 0;
    list-style: none;
}

#navBar > ul > li {
    margin: auto;
}

.navElem:nth-child(5) {
    background: lime;
    padding: 0.43rem 0.25rem;
    border-radius: 0.5rem;
    color: whitesmoke;
}

.navElem 
{
    text-align: center;
    width: 20%;

}


/** Image Gallery **/
#mid
{
    position: relative;
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 75%;
    background-image: url('https://www.fbi.gov/image-repository/hawaii-adopt-a-school-laanui-040617.jpg/@@images/image/high');
    background-position: center;
    background-size: cover;
    background-clip: initial;
}


#title
{ 
    justify-content: center;
    position: absolute;
    color: whitesmoke;
    font-size: 5em;
}



/** Arrows **/
#arrows
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#arrowLeft
{
    padding: 0 1rem;
    background: transparent;
    border: none;
    font-size: 2em;
    color: whitesmoke;
}

#arrowRight
{
    padding: 0 1rem;
    background: transparent;
    border: none;
    font-size: 2em;
    color: whitesmoke;
}


/** Donate and Volunteer buttons **/
#bottom 
{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}

#bottom > h2
{
    padding: 0;
    margin: 0;
    margin: auto 0;
    padding: 1rem 3rem;   
    color: whitesmoke;
    background-color: lime;
    border-radius: 12px;
}
