body, html, #main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
/** Start of Top section **/
#top {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
}

#top-bar {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title {
    height: 100%;
    font-weight: bold;
    font-size: 1rem;
}

#nav-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 50px;
    height: 50px;
}
/** End of top section **/

/** start of Image/video area **/
#img-container
{
    position: relative;
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 75%;
    background-image: url('https://blog.ed.gov/files/2014/04/13556050275_1a21b594a8_b.jpg');
    background-position: center;
    background-size: cover;
    background-clip: initial;
    margin-bottom: 10%;
    overflow: hidden;
}

#myVideo {
  min-width: 100%; 
  min-height: 100%; 
  
  width: auto;
  height: auto;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#arrows
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#arrowRight
{
    padding: 0 1rem;
    background: rgba(0,0,0,0.3);
    border: none;
    font-size: 2em;
    color: whitesmoke;
}

#arrowLeft
{
    padding: 0 1rem;
    background: rgba(0,0,0,0.3);
    border: none;
    font-size: 2em;
    color: whitesmoke;
}
/** End of image/video area **/

/** Start of box info**/
.boxes
{
    position: relative;
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 75%;
}

.textBox {
    height: 100%;
}

.imgBox {
    height: 100%;
}
/** End of box info **/

/** Start of footer **/
.page-footer {
    padding-top: 5px;
    background: rgb(39, 39, 39);
    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.page-footer.dropdown > * {
    margin-bottom: 0;
}

.footerRow {
    margin-bottom: 0;
}

#specialChild {
    text-align: center;
}

.footerSubHeader {
    text-align: center;
}

.innerWorkings {
    display: table;
    margin: auto;
}

.footerContainer {
    width: 100%;
}

.footerSubHeader {
    margin: 0.3rem 0 0.46rem 0;
}


#footerImg {
    display: table;
    margin: auto;
    filter: invert(100%);
}

.footerContent {
    font-size: 13px;
}

.verticalDivider {
    position: relative;
}

.verticalDivider:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.verticalDivider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
    background:#c3c3c3;
    bottom: 0;
    height: 50%;
    content: " ";
    position: absolute;
    top: 25%;
    width: 1px;
}

.copyright {
    font-size: 10px;
    font-weight: bold;
}
/** End of footer **/